RewriteEngine On
RewriteBase /

# Redirigir solicitudes de archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todas las demás solicitudes a index.html
RewriteRule ^ index.html [L]